<header>
  <%= link_to "Top", root_path %>
  <% if user_signed_in? %>
  こんにちは<%= current_user.name %>さん
  <% end %>
  <div>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'New Post', new_post_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><%= link_to 'Register', new_user_registration_path %></li>
      <% end %>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Help', help_path %></li>
    </ul>
  </div>
</header>
